# elpa files
/elpa

# session backups
/session*


# ido cache
/ido.last


# project file cache
/projectile*

# M-x command history
/.smex-items


# places file
/places


# evil jump markers
/jumps

# save last place in files
/saveplace
/.saveplace

# recentf file
/.recentf

# ring save file
/savehist
/.savehist
/.session

# persistent registers
/saveregisters.el


# thumbnail cache from dired
/image-dired

# backup files are always redundant
*~


# eshell history and dirstack
/eshell


# auto-complete cache
ac-comphist.dat


# helm completion history
/helm-adaptive-history


# semantic parser cache
/semanticdb


# emacs browser cookies
/url

# UCS cache
/var


# Yasnippet extras
.yas-compiled-snippets*


# tramp connection history
/data/tramp


# EDE projects file
/ede-projects.el

# Srecode map files
/srecode-map.el


# misc
*.undo.xz
*#
.#*
flycheck_*
*.swp
*.elc
/.elisp-cache-stamp
/kkrc
/kkcrc

# savehist history file
/history

/.python-environments
/data/anaconda-mode
/irony
/dunnet


# package cache
/data/package-cache.el


# quelpa cache
/quelpa


# the custom file
/custom.el


# the abbrev file
/abbrev_defs
