# elpa files
/elpa

# project file cache
/projectile*
# M-x command history
/.smex-items

# recentf file
/data/.recentf

/.session
# semantic parser cache
/semanticdb


# emacs browser cookies
/url

# UCS cache
/var


# tramp connection history
/data/tramp



# misc
*~
*.undo.xz
*#
.#*
flycheck_*
*.swp
*.elc
/.elisp-cache-stamp


/data/anaconda-mode
/irony


# package cache
/data/package-cache.el


# historian statistics
/data/.historian


# quelpa cache
/quelpa


# the custom file
/custom.el


# the abbrev file
/abbrev_defs


/personal
